:root {
  --border-radius: 4px;
  --dark: #24292e;
  --light: #fff;
  --gray: #e9e9e9;
  --gray-light: #f6f8fa;
  --danger: #cb2431;
  --danger-darken: #a9212c;
  --btn-hover: #f3f4f6;
  --success: #2ea44f;
  --success-darken: #2c974b;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: 1.6rem;
  background-color: var(--light);
}

img {
  max-width: 100%;
}

fieldset {
  margin-bottom: 2rem;
  padding: 2rem;
  border: 1px solid var(--gray);
  border-radius: var(--border-radius);
  background-color: var(--gray-light);
}

legend {
  padding: 0.3rem 1rem 0.5rem;
  font-size: 2rem;
  font-weight: 300;
  color: var(--light);
  border-radius: inherit;
  background-color: var(--dark);
}

label {
  display: inline-block;
  cursor: pointer;
}

input {
  line-height: normal;
  cursor: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;

  width: 10ch;
  padding: 0.5rem;
  border: 1px solid var(--gray);
  border-radius: var(--border-radius);
}

button {
  font-family: inherit;
  line-height: 1.4;
  color: var(--dark);
  border: 1px solid var(--gray);
  border-radius: var(--border-radius);
  background-color: var(--light);
  transition: color 0.15s, background-color 0.15s;
}

button:not([disabled]):hover {
  background-color: var(--btn-hover);
  cursor: pointer;
}

button[disabled] {
  cursor: not-allowed;
}

.mb-1 {
  margin-bottom: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.form-wrapper {
  padding: 3rem 2rem;
}

.btn {
  padding: 0.75rem 1.5rem;
  font-size: 1.6rem;
}

.btn-small {
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
}

.btn-remove {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.6rem;
  height: 2.6rem;
  padding: 0;
  font-size: 2rem;
  line-height: normal;
}

.btn-success {
  color: var(--light);
  background-color: var(--success);
}

.btn-success:not([disabled]):hover {
  background-color: var(--success-darken);
}

.btn-danger {
  color: var(--light);
  background-color: var(--danger);
}

.btn-danger:not([disabled]):hover {
  background-color: var(--danger-darken);
}

.error-message {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: var(--danger);
}
